<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wilczektoy">

    <!-- (opcjonalnie) żeby uruchomić foreground service na Android 14+, ale nie jest wymagane -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- REJESTRACJA GLYPH TOY -->
        <service
            android:name=".WolfToyService"
            android:exported="true">
            <intent-filter>
                <!-- To właśnie widzi Nothing jako Toy -->
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <!-- Nazwa i podgląd w bibliotece Glyph Toys -->
            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:value="@string/app_name" />
            <meta-data
                android:name="com.nothing.glyph.toy.preview"
                android:resource="@drawable/img_toy_preview_wilczek" />
        </service>

    </application>
</manifest>
